<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>658430192184-aqp5sv2elhb4veptjsnvqs8s093b1nmf.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.658430192184-aqp5sv2elhb4veptjsnvqs8s093b1nmf</string>
	<key>API_KEY</key>
	<string>AIzaSyBan-52OyJXLQY7q5TrLwPQiOjFSAYriII</string>
	<key>GCM_SENDER_ID</key>
	<string>658430192184</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>org.reactjs.native.example.reLocation</string>
	<key>PROJECT_ID</key>
	<string>relocation-1ac3d</string>
	<key>STORAGE_BUCKET</key>
	<string>relocation-1ac3d.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:658430192184:ios:d03dbaabf458f99d7e14cd</string>
	<key>DATABASE_URL</key>
	<string>https://relocation-1ac3d.firebaseio.com</string>
</dict>
</plist>